{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
<div id="bg">
  <img src="{% static 'img/register.jpg' %}" alt="">
</div>
    <div class="row">
        <h1 align="left"><strong>Register</strong>
        </h1>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <form action="." method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="SUBMIT" value="Register" align="center"/>
            </form>
        </div>
    </div>

</body>
</html>